@keyframes gradient-border {
  0% {
    border-color: #ff7e5f;
  }
  50% {
    border-color: #feb47b;
  }
  100% {
    border-color: #ff7e5f;
  }
}

.animate-gradient-border {
  animation: gradient-border 2s linear infinite;
  border-radius: 12px;
}
