.newsletter {
  background-image: url("../../../assets/Gravity-Fitness-Home-banner-Web-2000px-srgb_2_1600x.webp");
}
/* @media (max-width: 768px) {
  .location {
    background-image: url("../../../assets/Gravity-Fitness-Home-banner-Web-2000px-srgb_2_1600x.webp");
      width: 400px;
  }
} */