.newsletter {
  background-image: url("../../../assets/Gravity-Fitness-Home-banner-Web-2000px-srgb_2_1600x.webp");
  background-position: center;
  background-size: cover;
}
/* @media (max-width: 768px) {
  .location {
    background-image: url("../../../assets/Gravity-Fitness-Home-banner-Web-2000px-srgb_2_1600x.webp");
      width: 400px;
  }
} */

input::placeholder {
  color: #a0aec0; /* Light gray placeholder */
}
